.main {
    width: 100%;
    background-color: #f1efef;
    padding: 20px 0;
    border: 1px solid #cccdd4;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}
.main2 {
    padding: 15px 0;
    cursor: pointer;
}