.football{
    width: 50%;
    margin: auto;
    text-align: start;
    padding: 15px 0;
    font-size: 16px;
    font-weight: 500;
}
.main{
    background-color: #f1efef;
    padding: 20px 0;
    width: 50%;
    border: 1px solid #cccdd4;
    margin: auto;
    border-radius: 10px ;
}
.sortData{
    background-color: #ed3535;
    width: 99.9%;
    margin: auto;
    padding: 8px 1px;    
}
.item1{
    color: #fff;
}
.main2{
   padding: 15px 0;
   cursor: pointer;
}