.bet1{
    position: relative;
    width: 100%;
    border: 1px solid #000;
    padding: 15px 0;
    background-color: #000;
}
.bet{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (min-width:375px) and (max-width:768px) {
    .bet1{
        width: 100%;
    }
}

@media screen and (min-width:0) and (max-width:375px) {
    .bet1 {
        width: 100%;
    }
}