.backMain{
    width: 50%;
margin: auto;
text-align: start;
margin-bottom: 10px;
}
.back{
    margin-top: 10px;
    text-align: center;
    background-color: #ed3535;
    color: #fff;
    padding: 5px 5px;
    border-radius: 100px;
    cursor: pointer;
}
.makeMain{
        width: 50%;
        margin: auto;
        text-align: start;
        margin-bottom: 10px;
        background-color: #ed3535;
}
.make{
    width: 100%;
    text-align: start;
    font-size: 24px;
    padding: 10px 25px;
    color: #fff;
    font-weight: bold;
}
.match{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 5px;
}
.detail1{
    width: 100%;
    padding: 15px 0;
    font-size: 22px;
    font-weight: 500;
    background-color: #ed3535;
}
.date3{
   color: #fff;
}
.detail2{
    width: 100%;
    background-color: #000000;
    padding: 15px 0;
    font-size: 22px;
    color: #fff;
}

.mainDiv{
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 20px 0;
}
.selectMain{
    font-size: 14px;
    color: #000000;
    padding: 5px 0;
    border: 1px solid #000000 ;
    border-radius: 5px;
}

.betName{
   font-size: 18px;
   font-weight: 500;
   color: #000000;
}
@media screen and (min-width: 375px) and (max-width: 768px) {
    .match{
        width: 50%;
    }
        
}
@media screen and (min-width:0) and (max-width:375) {
    .mainDiv{
        width: 100%;
    }
    
}
.betBuilder{
    font-size: 22px ;
    font-weight: 500;
    color: #000001;
    text-align: center;
}